<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="db" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=JobEngine;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <!--<add name="test" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=PulseTest;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
</configuration>